
<br>
<div class="container">
	<p><em>All of ULEM’s workforce development programs are at no cost to participants.  Brief descriptions are below, but for details, we encourage you to attend an information session.  Information sessions are held every Tuesday and Wednesday at 1pm.  No RSVP is required.</em></p>
	<h3 class="sw-red">MSIMBO: ULEM Coding Bootcamp</h3>
	<p>Msimbo means “code” in Swahili. A twenty (20) week program for displaced, unemployed and underemployed workers interested becoming computer programmers. This programs seeks to address the IT industries’ issue of diversity and skilled workers. ULEM looks to enroll 18 students and provide a stipend for $100/ week.</p>
	<p>The IT industry is in high demand for talented coding programmers. On average 2% of the IT workforce are people of color. In the past few years, there have been a number of efforts by the IT industry to create programs and bootcamps to train young women of color, women and college students.</p>
	<p>MSIMBO seeks to address the displaced worker that cannot get training because of gender specific (i.e., Black Girls Code) training that being offered’ being financially unable to go or return to college and some of the coding bootcamps are cost prohibitive.</p>
	<p>MSIMBO bootcamp trains talented, low-income individuals to become full-stack web developers and launch a new career. Students are trained in web development, effective business communication, and leadership. We will conduct a 20 weeks of 120 hours coding technology training program and the professional development for ULEM’s MSIMBO program.</p>
	<p>The targeted population must: </p>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> Be at least 18 years of age</li>
		<li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> Have a high school diploma or GED</li>
		<li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> Be committed to completing the program</li>
	</ul>
  <p>The enrollment process begins with an intake form. The next step post the information session is to return for the standardized program assessment. The purpose of this assessment is to determine if our program is appropriate for their needs. This computer-based assessment takes approximately one hour and participants are timed.</p> 
  <p>The assessment has six components consisting of:</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> A ULEM Criteria Basic Skills Test</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> A Customer Service Aptitude Profile</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> Workplace Productivity Profile</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> An assessment of Computer Literacy and Internet Knowledge</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> A typing test</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> An assessment of Microsoft Word and Excel proficiency</li>
  </ul>
  <p>Assessments are conducted every Thursday at 1pm in one of our 3 computer labs.Each assessment listed was carefully selected by the ULEM team for incorporation into the training program. Standard entrance levels were created to determine a candidate’s best fit for the training program.</p>
  <p>MSIMBO: ULEM Coding Bootcamp will offer during the 20 weeks, participants are trained in:</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> Web Development - Learning to make Web Applications (HTML, CSS, JavaScript, MEAN Stack)</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> Financial Literacy – Our Dollars & Sense Training</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> National Career Readiness testing and certification</li>
    <li class="list-group-item"><i class="far fa-dot-circle sw-red"></i> Resume, Cover Letter & Linkedin Profile Building</li>
  </ul>
  <p>Those who successfully complete program will eligible for internships with various tech companies in the area. Throughout the program case management and job placement services are available. Those who are not placed receive job placement assistance from ULEM. We anticipate 12 people will complete each cycle. Our goal is to place 10 students from this inaugural class.</p>
</div>
<app-footer></app-footer>