<!-- footer -->
<!-- <footer class="navbar navbar-expand-lg navbar-dark bg-dark sw-bottom" id="footerNav">
    <img class="sw-btn" routerLink="/" src="../../../assets/uploads/logo.png" height="30">
    <div class="sw-full-width">
    	<a href="http://www.ulem.org/"><img class="float-right" src="../../../assets/uploads/ulem.png" height="30"></a>
    </div>
    <a class="btn btn-outline-info" href="/assets/uploads/app-debug.apk" download>Dowanload MSIMBO Android APP</a>
</footer> -->
<footer class="navbar navbar-expand-lg navbar-dark bg-dark sw-bottom" id="footerNav">
    <div class="sw-full-width text-center">
        <a class="btn btn-outline-info" href="/assets/uploads/msimbo.apk" download>Download MSIMBO Android APP</a>
    </div>
</footer>