<!-- Navbar -->
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MSIMBO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/curriculum">Curriculum</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link" routerLink="/assignment">Assignments</a>
                    <div class="dropdown-menu">
                        <a *ngFor="let assignment of assignments" class="dropdown-item" routerLink="/assignment/{{assignment._id}}">{{assignment.name}}</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/video">Class Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://msimbo.slack.com" target="_blank">Slack</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/wiki">Wiki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
        <button routerLink="/login" class="d-none d-lg-block btn btn-outline-info" type="button">Student Login</button>
        <button routerLink="/login" class="d-lg-none btn btn-block btn-outline-info" type="button">Student Login</button>
    </div>
</nav>