<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="sw-btn" routerLink="/" src="../../../assets/uploads/logo.png" height="40">
    <a class="navbar-brand" routerLink="/">MSIMBO</a>
    <button  *ngIf="sharedService.user" routerLink="/user" class="d-lg-none btn sw-bg-transparent sw-white" type="button"><i class="fas fa-user"></i></button>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/curriculum">Curriculum</a>
            </li>
            <li *ngIf="sharedService.user" class="nav-item">
                <div class="dropdown d-none d-lg-block">
                    <a class="nav-link" routerLink="/assignment">Assignments</a>
                    <div class="dropdown-menu">
                        <a *ngFor="let assignment of assignments" class="dropdown-item" routerLink="/assignment/{{assignment._id}}">{{assignment.name}}</a>
                    </div>
                </div>
                <a class="nav-link d-lg-none" routerLink="/assignment">Assignments</a>
            </li>
            <li *ngIf="sharedService.user" class="nav-item">
                <a class="nav-link" routerLink="/wiki">Wiki</a>
            </li>
            <li *ngIf="sharedService.user" class="nav-item">
                <a class="nav-link" routerLink="/video">Class Videos</a>
            </li>
            <li *ngIf="sharedService.user" class="nav-item">
                <a class="nav-link" href="https://msimbo.slack.com" target="_blank">Slack</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
        <button *ngIf="!sharedService.user" routerLink="/login" class="d-none d-lg-block btn btn-outline-info" type="button">Student Login</button>
        <button *ngIf="!sharedService.user" routerLink="/login" class="d-lg-none btn btn-block btn-outline-info" type="button">Student Login</button>
        <button *ngIf="sharedService.user && sharedService.user.admin" routerLink="/register" class="d-none d-lg-block btn btn-outline-warning" type="button">Student Register</button>
        <button *ngIf="sharedService.user && sharedService.user.admin" routerLink="/register" class="d-lg-none btn btn-block btn-outline-warning" type="button">Student Register</button>
        <button  *ngIf="sharedService.user" routerLink="/user" class="d-none d-lg-block btn sw-bg-transparent sw-white" type="button"><i class="fas fa-user"></i></button>
    </div>
</nav>