<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
            <img class="d-block w-100" height="600" src="../../../assets/uploads/slide1.jpg" alt="First slide">
        </div>
        <!-- Second Slide -->
        <div class="carousel-item">
            <img class="d-block w-100" height="600" src="../../../assets/uploads/slide2.jpg">
        </div>
        <!-- Third Slide -->
        <div class="carousel-item">
            <img class="d-block w-100" height="600" src="../../../assets/uploads/slide3.jpg" alt="Third slide">
        </div>
        <!-- Fourth Slide -->
        <div class="carousel-item">
            <img class="d-block w-100" height="600" src="../../../assets/uploads/slide4.jpg" alt="Fourth slide">
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
	<p>Msimbo means “code” in Swahili. A twenty (20) week program for displaced, unemployed and underemployed workers interested becoming computer programmers. This programs seeks to address the IT industries’ issue of diversity and skilled workers. ULEM looks to enroll 18 students and provide a stipend for $100/ week.</p>
	<p>The IT industry is in high demand for talented coding programmers. On average 2% of the IT workforce are people of color. In the past few years, there have been a number of efforts by the IT industry to create programs and bootcamps to train young women of color, women and college students.</p>
	<p>MSIMBO seeks to address the displaced worker that cannot get training because of gender specific (i.e., Black Girls Code) training that being offered’ being financially unable to go or return to college and some of the coding bootcamps are cost prohibitive.</p>
	<p>MSIMBO bootcamp trains talented, low-income individuals to become full-stack web developers and launch a new career. Students are trained in web development, effective business communication, and leadership. We will conduct a 20 weeks of 120 hours coding technology training program and the professional development for ULEM’s MSIMBO program.</p>
    <button routerLink="/about" class="btn btn-block btn-outline-info">Interested in Register</button>
</div>
<br>
