<!-- Navbar -->
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MSIMBO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/curriculum">Curriculum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/video">Class Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About MSIMBO</a>
      </li>
    </ul>
	<button routerLink="/login" class="d-none d-lg-block btn btn-outline-success" type="button">Student Login</button>
	<button routerLink="/login" class="d-lg-none btn btn-block btn-outline-success" type="button">Student Login</button>
  </div>
</nav>
<!-- slides -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" height="500" src="https://cdn-images-1.medium.com/max/1600/1*iFN_PWPWs6TQ9JzDp2v9Wg.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="500" src="http://p.motionelements.com/stock-video/business/me9079492-flight-through-digital-code-stream-black-white-looped-3d-hd-a0215.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="500" src="https://codekeyboards.com/galleria/10.jpg" alt="Third slide">
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
	<p>Msimbo means “code” in Swahili. A twenty (20) week program for displaced, unemployed and underemployed workers interested becoming computer programmers. This programs seeks to address the IT industries’ issue of diversity and skilled workers. ULEM looks to enroll 18 students and provide a stipend for $75/ week.</p>
	<p>The IT industry is in high demand for talented coding programmers. On average 2% of the IT workforce are people of color. In the past few years, there have been a number of efforts by the IT industry to create programs and bootcamps to train young women of color, women and college students.</p>
	<p>MSIMBO seeks to address the displaced worker that cannot get training because of gender specific (i.e., Black Girls Code) training that being offered’ being financially unable to go or return to college and some of the coding bootcamps are cost prohibitive. The industry has to rely on H1B visa that allows for talented foreign workers to fill positions that cannot be filled by an American worker. The federal government issued 177,750 H-1B visas were issued, according to State Department data. There is a push by the federal government to provide grant dollars to train displaced workers to fill this skill gap and decrease the number of H-1B visas. This program seeks to train individuals to fill that gap. This program would be offered to for free when other programs are demanding $9000 or more for training.</p>
	<p>MSIMBO bootcamp trains talented, low-income individuals to become full-stack web developers and launch a new career. Students are trained in web development, effective business communication, and leadership. We will conduct a 20 weeks of 120 hours coding technology training program and the professional development for ULEM’s MSIMBO program.</p>
</div>

<button routerLink="/about" class="btn btn-block btn-outline-info">Interested in Register</button>

<!-- Footer -->
<footer class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" id="footerNav">
	<div class="sw-full-width">
		<p  class="sw-text-center">
			<a routerLink="/" class="navbar-brand">MSIMBO</a>
		</p>
	</div>
</footer>