<!-- Navbar -->
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MSIMBO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students">Students</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/curriculum">Curriculum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/video">Class Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About MSIMBO</a>
      </li>
    </ul>
	<button routerLink="/login" class="d-none d-lg-block btn btn-outline-success" type="button">Student Login</button>
	<button routerLink="/login" class="d-lg-none btn btn-block btn-outline-success" type="button">Student Login</button>
  </div>
</nav>
<!-- google sheet -->
<iframe width=100% height="2150" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRzOcfElFHVJnt9xb_VFg2jpHxRwVywEPHH1q4XdkbksWgbkWnq139eKYWxGrVnKAcxK1ybf-e1yIiR/pubhtml?chrome=false&widget=true&amp;headers=false"></iframe>
<footer class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" id="footerNav">
  <div class="sw-full-width">
    <p  class="sw-text-center">
      <a routerLink="/" class="navbar-brand">MSIMBO</a>
    </p>
  </div>
</footer>