<div class="container-fluid">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Wiki</th>
				<th *ngIf="sharedService.user && sharedService.user.admin">
					<div class="float-right">
					<button class="btn btn-outline-primary"><i class="fas fa-plus fa-lg"></i></button>
					</div>
				</th>
			</tr>
			<tr>
				<th><input class="form-control" type="text" name="inputName" placeholder="Seaching Wiki..." [(ngModel)]="inputName" (input)="filterWiki()"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let wiki of wikis" class="sw-wiki">
				<td><a routerLink="/wiki/{{wiki._id}}">{{wiki.name}}</a></td>
				<td *ngIf="sharedService.user && sharedService.user.admin">
					<div class="float-right">
						<button class="btn btn-outline-warning sw-margin-left"><i class="fas fa-edit fa-lg"></i></button>
						<button class="btn btn-outline-danger sw-margin-left"><i class="fas fa-minus fa-lg"></i></button>
					</div>	
				</td>
			</tr>
		</tbody>
	</table>
</div>