<br>
<div class="container">
	<div>
		<h3 class="text-muted text-center">Assignment</h3>
		<div class="embed-responsive embed-responsive-16by9" >
			<iframe src="https://www.youtube.com/embed/videoseries?list=PLUEkoyTOepv5fpatWg3dqVPLMbXXRsvAD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<br>
	<div>
		<h3 class="text-muted text-center">Project</h3>
		<div class="embed-responsive embed-responsive-16by9" >
			<iframe src="https://www.youtube.com/embed/videoseries?list=PLUEkoyTOepv7MV7pHhqsmDG1rjnbA2_Tm" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<br>
	<div>
		<h3 class="text-muted text-center">Tutorial</h3>
		<div class="embed-responsive embed-responsive-16by9" >
			<iframe src="https://www.youtube.com/embed/videoseries?list=PLUEkoyTOepv6cPQwSdnTUE2R054sClncH" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>
<br>
<app-footer></app-footer>