<br>
<div class="container-fluid">
	<h3>Assignment Videos</h3>
	<div class="embed-responsive embed-responsive-16by9 w-50" >
		<iframe src="https://www.youtube.com/embed/videoseries?list=PLUEkoyTOepv5fpatWg3dqVPLMbXXRsvAD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<br>
	<h3>Project Videos</h3>
	<div class="embed-responsive embed-responsive-16by9 w-50" >
		<iframe src="https://www.youtube.com/embed/videoseries?list=PLUEkoyTOepv7MV7pHhqsmDG1rjnbA2_Tm" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<br>
	<h3>Helpful Videos for beginners</h3>
	<div class="embed-responsive embed-responsive-16by9 w-50" >
		<iframe src="https://www.youtube.com/embed/videoseries?list=PLUEkoyTOepv6cPQwSdnTUE2R054sClncH" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>