<div class="container-fluid">
<!-- <ul class="list-group list-group-flush">
	<li class="list-group-item" *ngFor="let assignment of assignments">
		<a href="#">{{assignment.name}}</a>
		<h5 class="float-right">{{assignment.due}}</h5>
	</li>
</ul> -->
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Assignment</th>
			<th>Due Date</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let assignment of assignments">
			<td><a routerLink="/assignment/{{assignment._id}}">{{assignment.name}}</a></td>
			<td>{{assignment.due}}</td>
		</tr>
	</tbody>
</table>
</div>