<br>
<div class="container">
    <h3 class="sw-red">Our Students</h3>
    <!-- search bar -->
    <div class="input-group">
        <input class="form-control form-control-lg" type="text" name="inputValue" id="inputValue" placeholder="Filter Students...">
        <div class="input-group-append">
            <button class="btn btn-info btn-lg">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <!-- Students -->
    <ul class="list-group list-group-flush">
        <li *ngFor="let user of users" class="list-group-item">
            <div *ngIf="!user.admin">
                <div  class="row">
                    <div class="col-3">
                        <img src="{{user.image}}" width="50%">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>   
                    </div>
                    <div class="col-9">
                        <p>{{user.bio}}</p>
                        <ul class="float-right">
                            <li class="list-inline-item"><a href="#" class="sw-dark"><i class="fas fa-user fa-lg"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="sw-dark"><i class="fab fa-linkedin fa-lg"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="sw-dark"><i class="fab fa-github fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>