<br>
<div class="container">
    <h3 class="sw-red">Our Students</h3>
    <!-- search bar -->

    <input class="form-control form-control-lg" type="text" name="inputName" placeholder="Seaching Students..." [(ngModel)]="inputName" (input)="filterUser()">

    <!-- Students -->
    <ul class="list-group list-group-flush">
        <li *ngFor="let user of users" class="list-group-item sw-filter">
            <div *ngIf="!user.admin">
                <div  class="row">
                    <div class="col-3">
                        <img src="{{user.image}}" width="50%">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>   
                    </div>
                    <div class="col-9">
                        <p>{{user.bio}}</p>
                        <ul class="float-right">
                            <li class="list-inline-item"><a href="#" class="sw-dark" target="_blank"><i class="fas fa-project-diagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="sw-dark" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="sw-dark" target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>